body{
    margin: 0;
    padding: 0;
    background-color: gray;
    font-family: sans-serif;
    font-size: 23px;
}
.container{
    width: 1220px;
    margin: 0 auto; 
    min-height: 1220px;
    background-image: url('LetItBe_0.jpg');
    color: rgb(255, 0, 0);
    padding-top: 153px; 
}
.Beatle{ 
    background-color: #ff000000;
    width: 200px;
    cursor: pointer;
}
.Beatle .naam{
    opacity: 0;
}
.Beatle:hover .naam{
    opacity: 1; 
}
#john{
    margin-left: 119px ;
    padding-top: 412px;
    padding-left: 270px;
}
#john .naam{
    margin-left: 100px;
}
#paul{
   margin-left: 605px;
   margin-top: -469px;
   padding-top: 412px;
   padding-right: 270px; 
}
#paul .naam{
    margin-left: 340px;
}
#ringo{
    margin-left:605px;
    margin-top: 17px;
    padding-top:410px;
    padding-right: 270px; 
}
#ringo .naam{
    margin-left: 360px;
}
#george{
    margin-left: 119px ;
    margin-top: -468px ;
    padding-top: 410px ;
    padding-right: 270px; 
}
#george .naam{
    margin-left: 363px; 
}
h3,P{
    margin: 0;
    padding:0;

}
.naam{
    border-left: solid 9px red;
}
